@import url('../utils/colors.css');

button {
	font-size: 15px;
	letter-spacing: 1.5px;
	line-height: 18px;
	font-weight: 400;
	font-family: 'Roboto';
}

.btn-primary {
	color: var(--color-light);
	background-color: var(--color-primary);
}

.btn-primary:hover, .btn-secondary:hover {
	color: var(--color-light);
	background-color: #722811;
	border: none;
}

.btn-secondary {
	color: #5B3909;
	border: 1px solid #5B3909;
	background: var(--color-light);
}