.rate {
	display: block;
	width: 20px;
	height: 20px;
	background-size: cover;
	background-position: center;
}

.full-rate {
	background-image: url('../../assets/icon/full-rate-star.svg');
}

.half-rate {
	background-image: url('../../assets/icon/half-rate-star.svg');
}