#accessories {
	padding: 100px 135px;
}

.accessories-title {
	margin: 20px 0 60px;
}

.accessories {
	gap: 30px;
}

.accessory-img {
	height: 270px;
	width: 270px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #CECECE;
}

.accessory-img > img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.accessory-name {
	color: var(--color-primary);
	font-size: 20px;
	font-weight: 600;
	line-height: 21px;
	margin: 30px 0 15px;
}

.accessory-price {
	color: var(--color-text);
	font-size: 20px;
	font-weight: 600;
	line-height: 21px;
	margin-bottom: 15px;
}

.accessory-rating {
	margin-bottom: 25px;
}

.accessory-review {
	color: var(--color-text);
	font-size: 14px;
	font-weight: 400;
	margin-left: 12px;
	line-height: 14px;
}

.accessory-btn {
	width: 100%;
}

@media (max-width: 1200px) {
	#accessories {
		padding: 40px 15px 40px 15px;
	}

	.accessories-title {
		margin-bottom: 40px;
	}

	.accessories {
		row-gap: 20px;
		column-gap: 15px;
	}

	.accessory-img {
		width: 163px;
		height: 163px;
	}

	.accessory-name {
		font-size: 16px;
		line-height: 16px;
		margin: 20px 0 10px;
	}

	.accessory-price {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 10px;
	}

	.accessory-rating {
		margin-bottom: 20.33px;
	}

	.accessory-rating .rate-group {
		gap: 4px;
	}

	.accessory-rating .rate {
		height: calc(41px/3);
		width: calc(41px/3);
	}

	.accessory-review {
		font-size: 12px;
		line-height: 12px;
	}
}