.effects {
	width: 100%;
}

.effect-item {
	flex: 1 0;
	background-size: cover;
	background-position: bottom;
	height: calc(100vw/3);
	z-index: 1;
	border: 2px solid #fff1e1;

}

.effect-item:nth-child(1) {
	background: url('../../assets/image/effect1.png');
	background-position: center;
	background-size: cover;

}

.effect-item:nth-child(2) {
	background: url('../../assets/image/effect2.png');
	background-position: center;
	background-size: cover;
}

.effect-item:nth-child(3) {
	background: url('../../assets/image/effect3.png');
	background-position: center;
	background-size: cover;

}

.effect-name {
	margin-bottom: 10px;
	color: var(--color-light);
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	height: 55px;
	z-index: 101;
}

.effect-add {
	width: 42px;
	height: 42px;
	z-index: 101;
	background: url('../../assets/icon/add-icon.svg');
}

.effect-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
}

@media (max-width: 1200px) {
	.effects {
		flex-direction: column;
	}

	.effect-item {
		flex: unset;
		height: 100vw;
		width: 100vw;
	}

	.effect-name {
		font-size: 40px;
	}
}