.header-container {
	background: url('../../assets/image/header.png'), lightgray;
	background-position: center;
	background-size: cover;
	height: 759px;
}

#header {
	padding: 185px 0 40px;
}

.header-title {
	color: var(--color-light);
	max-width: 652px;
	margin-top: 39.65px;
	margin-bottom: 30px;
}

.header-arrow {
	margin-top: 135px;
}

.header-btn {
	font-size: 15px;
	letter-spacing: 1.5px;
	line-height: 18px;
	font-weight: 400;
	font-family: 'Roboto';
	padding: 20px 78px;
}

@media (max-width:1200px) {
	.header-container {
		background-image: url('../../assets/image/header-mb.png');
		height: 498px;
	}

	#header {
		padding: 110px 24px 40px 25px;
	}

	.header-title {
		font-size: 40px;
		max-width: 326px;
		line-height: normal;
	}
	
	.header-arrow {
		margin-top: 39px;
	}
}
