#journey {
	margin: 0 auto;
	padding: 90px 0;
	width: 1170px;
	gap: 94px;
	align-items: center;
}

.journey-inner:nth-child(2) {
	max-width: 500px;
}

.journey-background {
	margin-top: 204px;
	width: 570px;
	height: 450px;
	background-color: var(--color-background-secondary);
}

.journey-image {
	left: 50%;
	bottom: 95px;
	transform: translateX(-50%);
	width: 430px;
	height: 559px;
	object-fit: cover;
	object-position: center;
}

.journey-about {
	left: 86.29px;
	bottom: 49.44px;
}

.journey-leave {
	height: 124px;
	width: 78px;
	object-fit: cover;
	bottom: 119.17px;
	left: 26px;
}

.journey-title {
	color: var(--color-heading);
	margin: 25px 0 20px;
}

.journey-subheading {
	color: var(--color-paragraph, #795B39);
	font-family: 'Roboto';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 34px; 
}

.journey-paragraph {
	color: var(--color-paragraph, #795B39);
	font-family: 'Roboto';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin: 20px 0 40px;
}

.journey-btn {
	display: block;
	width: fit-content;
	padding: 20px 55.04px 20px 56px;
	font-size: 15px;
	letter-spacing: 1.5px;
	line-height: 16px;
	font-weight: 400;
	font-family: 'Roboto';
}

@media (max-width: 1200px) {
	#journey {
		width: 345px;
		padding: 0 0 40px;
		gap: 40.16px;
	}

	.journey-background {
		width: 345px;
		height: 272.368px;
		margin-top: 163.89px;
	}

	.journey-image {
		width: 260.26px;
		height: 338.342px;
		bottom: 57.5px;
	}

	.journey-about {
		left: 52.22px;
		bottom: 29.92px;
		width: 106.7px;
		height: 59.2px;
	}

	.journey-leave {
		height: 92px;
		width: 56px;
		left: 15.55px;
		bottom: 62.23px;
	}

	.journey-title {
		font-size: 36px;
		line-height: 55px;
	}

	.journey-paragraph {
		margin-top: 10px;
	}
}