.journey-container {
	background-color: var(--color-background-primary);
}

#journey {
	padding: 90px 0;
	width: 1170px;
	gap: 94px;
}

.journey-inner:nth-child(2) {
	max-width: 500px;
	margin-top: 95px;
}

.journey-background {
	margin-top: 204px;
	width: 570px;
	height: 450px;
	background-color: var(--color-background-secondary);
}

.journey-image {
	left: 50%;
	bottom: 95px;
	transform: translateX(-50%);
	width: 430px;
	height: 559px;
	object-fit: cover;
	object-position: center;
}

.journey-about {
	left: 86.29px;
	bottom: 49.44px;
}

.journey-leave {
	width: 86.16px;
	height: 35.51px;
	transform: rotate(-115deg) translateX(-50%);
	left: 0;
	bottom: 200.17px;
}

.journey-title {
	color: var(--color-heading);
	margin: 25px 0 20px;
}

.journey-subheading {
	color: var(--color-paragraph, #795B39);
	font-family: 'Roboto';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 34px; 
}

.journey-paragraph {
	color: var(--color-paragraph, #795B39);
	font-family: 'Roboto';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin: 20px 0 40px;
}

.journey-btn {
	padding: 20px 55.04px 20px 56px;
	font-size: 15px;
	letter-spacing: 1.5px;
	line-height: 18px;
	font-weight: 400;
	font-family: 'Roboto';
}

@media (max-width: 1200px) {
	#journey {
		width: 345px;
		padding: 40px 0;
		gap: 40px;
	}

	.journey-inner:nth-child(2) {
		margin-top: 0;
	}

	.journey-background {
		width: 345px;
    height: 272.37px;
    margin-top: -214.87px;
		margin-top: 163.47px;
	}

	.journey-image {
		width: 260.263px;
		height: 338.342px;
		bottom: 57.5px;
	}

	.journey-about {
		left: 52.22px;
		bottom: 29.92px;
		width: 106.7px;
		height: 59.2px;
	}

	.journey-leave {
		width: 52.19px;
		height: 21.49px;
		bottom: 134.23px;
	}

	.journey-title {
		font-size: 36px;
		line-height: 55px;
	}

	.journey-paragraph {
		margin-top: 10px;
	}
}