#subcribe {
	background: url('../../assets/image/collection2.png');
	background-size: cover;
	background-position: center;
	padding: 90px 0 89px;
}

.subcribe {
	padding: 70px;
	padding-left: 67px;
	background-color: var(--color-background-primary);
	width: 767px;
}

.subcribe-title {
	font-size: 40px;
	line-height: 55px;
	font-weight: 400;
	color: var(--color-heading);
}

.subcribe-paragraph {
	color: var(--color-paragraph);
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 400;
	line-height: 45px;
	margin: 10px 0 40px;
}

.subcribe-input {
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 400;
	width: 464px;
	height: 73px;
	border: 1px solid var(--color-heading);
	border-right: 0;
	background: var(--color-light);
	color: var(--color-paragraph);
	padding: 14px 21px;
}

.subcribe-input::placeholder {
	color: #C9C9C9;
}

.subcribe-button {
	max-width: 166px;
	height: 73px;
	padding: 0 43px;
	border: 1px solid var(--color-heading);
	background: var(--color-light);
}

@media (max-width: 1200px) {
	#subcribe {
		padding: 40px 0px;
	}

	.subcribe-title {
		font-size: 36px;
		line-height: 49px;
	}

	.subcribe-paragraph  {
		font-size: 20px;
		line-height: 32px;
		margin: 20px 0 30px;
	}

	.subcribe-input {
		min-width: 191px;
	}

	.subcribe-button {
		padding: 16px;
	}
}

@media (max-width: 768px) {
	.subcribe {
		width: calc(100vw - 120px);
		padding: 30px 20px;
	}
}

@media (max-width: 576px) {
	.subcribe {
		width: 345px;
		padding: 30px 20px;
	}
}

@media (max-width: 374px) {
	.subcribe {
		width: 100%;
	}
}