.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-start {
  align-items: start;
}

.text-center {
  text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.hide {
	display: none;
}

.container {
	display: flex;
	justify-content: center;
}

.title {
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: 80px;
}

.full-w {
	width: 100%;
}

.p-span {
	font-family: 'Roboto';
	white-space: nowrap;
}

@media (max-width: 1200px) {
	.title {
		font-size: 36px;
		line-height: 55px;
	}
}