:root {
  --color-light: #fff;
  --color-background-primary: #F7F7F7;
	--color-text: #686B7B;
	--color-primary: #2D3339;
	--color-secondary: #43484D;
	--color-line: #C7C7C7;
	--color-border: #ECECEC
}