/* Import css */
@import url('./utils/index.css');
@import url('./utils/font.css');
@import url('./utils/colors.css');

@import url('./component/button.css');
@import url('./component/pagemark.css');
@import url('./component/rating.css');

@import url('./scenes/header.css');
@import url('./scenes/journey.css');
@import url('./scenes/product.css');
@import url('./scenes/video.css');
@import url('./scenes/faq.css');
@import url('./scenes/testimonial.css');
@import url('./scenes/subcribe.css');
@import url('./scenes/effect.css');

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DM Serif Display', 'Roboto';
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #FFF1E1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button, input {
	background-color: var(--color-light);
	border: none;
	outline: none;
}

button {
	cursor: pointer;
}

ul li {
  display: block;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

a {
	text-decoration: none;
}